.page {
  flex: 1;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 5rem 0;
}
.form {
  width: 100%;
  max-width: 80rem;
  margin: auto;
}
.input {
  margin: auto;
  margin-bottom: 2.5rem;
}
.dateInput {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
  color: var(--neutral-300);
}
.btn {
  margin: 3rem auto;
  height: 3rem;
}
