.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  display: flex;
}
.nav {
  width: 30rem;
  height: 100%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-right: var(--primary-100) solid 0.2rem;
}
